.cards {
  border: 1px;
  border-style: solid;
  border-color: grey;
  padding: 10px;
  margin: 10px;
  text-align: left;
  background-color:  #fff;
  box-shadow: 2px 2px 5px grey
}

.cards h2 {
  color: red;
}

.cards h3 {
  color: blue;
}
